@charset "utf-8";

.wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 100%;
}

.character_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -370px;
  width: 100%;
  height: 100%;
}

.character {
  position: absolute;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  transition: all .5s;
}

.character.back {
  top: -237px;
  left: calc(-16vw - 800px);
  width: 1975px;
  height: 2533px;
  z-index: 2;
  animation: move-character 14s reverse infinite;;
  transition-delay: .5s;
}

.character.front {
  top: 12px;
  left: -280px;
  width: 1059px;
  height: 1598px;
  z-index: 4;
  animation: move-character 8s linear infinite;;
  transition-delay: .3s;
}

.character.back.virtual {
  background-image: url(../../img/netmarble/img_character_02.png);
}

.character.front.virtual {
  background-image: url(../../img/netmarble/img_character_03.png);
}

.character.back.real {
  background-image: url(../../img/netmarble/img_character_04.png);
}

.character.front.real {
  background-image: url(../../img/netmarble/img_character_01.png);
}

.character_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition-delay: .5s;
}

.character_bg.color.virtual {
  background-image: url(../../img/netmarble/img_bg_01.jpg);
  animation: move-character-bg 80s linear;
  z-index: 1;
}

.character_bg.layer.virtual {
  background-image: url(../../img/netmarble/img_bg_02.png);
  z-index: 3;
}

.character_bg.color.real {
  background-image: url(../../img/netmarble/img_bg_03.jpg);
  animation: move-character-bg 80s linear;
}

.character_bg.layer.real {
  background-image: url(../../img/netmarble/img_bg_04.png);
}

.btn_area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 86px;
  height: 86px;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 86px;
  z-index: 6;
}

.btn_img {
  display: block;
  animation: rotate-btn 5s linear infinite;
}

.btn_img img {
  max-width: 100%;
}

.btn_desc {
  position: absolute;
  top: 27px;
  right: 0;
  width: 86px;
  height: 30px;
  border-radius: 35px;
  background: #2d2121;
  font-size: 18px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  letter-spacing: -12px;
  z-index: -1;
  transition: all 0.5s;
}

.btn_area .btn:hover .btn_desc {
  right: 73px;
  width: 140px;
  letter-spacing: -0.8px;
}

.character.off,
.character_bg.off,
.btn_desc.off {
  opacity: 0;
}

@keyframes move-character {
  0%, 100% { transform: translateY(5px); }
  20% { transform: translate(10px,-10px); }
  45% { transform: translate(-5px 15px); }
  75% { transform: translate(-15px); }
}

@keyframes move-character-bg {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-200px); }
}

@keyframes rotate-btn {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}